
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 400px;
  
}

.h1login {
  text-align: center;
  color: #28a745;  
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #f9f9f9; 
  color: #333; 
}

.form-input:focus {
  outline: none;
  border-color: #28a745;  
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); 
}

.links {
  text-align: center;
  margin-top: 10px;
}

.links a {
  color: #007bff; 
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}
.naoconta{
  text-align: center;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #28a745; 
  border-color: #28a745; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838; 
}


.links a:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
